.page-login {
  height: 100vh;
  width: 100vw;
  background: white;
  .header {
    padding: 1rem;
  }

  .banner {
    height: 10rem;
    background-image: url('../asset/image/login-banner.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: 0 0.2rem 0.2rem gray inset;
  }
}

.login-from-input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  height: 3rem;
  position: relative;

  .field {
    flex-basis: 5rem;
  }

  .input {
    flex-grow: 1;
    height: 100%;
    input {
      width: 100%;
      height: 100%;
      border: unset;
      outline: none;
    }
  }

  &:not(:last-child):after {
    content: '';
    position: absolute;
    height: 0.05rem;
    width: 95%;
    background: rgba(35, 33, 63, 0.24);
    top: 3.9rem;
  }
}
